<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new</title>
</head>
<body>
    <a href='/feed'>Home</a>

    <form action="/feed" method="post">
            <input type="text" name="title" placeholder="here is the title"> 
            <% if (err) { %>
                <p><%= err['title'] %> but no longer than 15 characters</p>
            <% } %>
            <br>
            <textarea name="text" placeholder="write the topic here"></textarea>
            <% if (err) { %>
                <p><%= err['text'] %> but no longer than 40 characters</p>
            <% } %>
            <br>
            <button>Submit</button>
    </form>
</body>
</html>